/*  ==================================================================  *\
		Break Points
/*  ==================================================================  */
/*  ==================================================================  *\
		Helpers
/*  ==================================================================  */
/* Font sizing */
/* Font weight */
/*  ==================================================================  *\
		Grid Widths
/*  ==================================================================  */
/*Widths */
/* ================================================================== *\

   Name: Cardinal
   Info: a small, “mobile first” CSS framework by Chris Bracco
   Link: http://cardinalcss.com

   TABLE OF CONTENTS
   ---------------------------
   (Ctrl/Cmd + F, and search for `$section` to jump to a section)
   01. Base................Lay the foundation
   02. Links...............Default styles for anchor links
   03. Typography..........Basic typography elements
   04. Code................Pre-formatted text and other code styles
   05. Embedded content....Markup elements that use external content
   06. Forms...............Styling for elements that make up a form
   07. Tables..............Styles for tabular data
   08. Layout..............Common layout items (wrappers, islands, etc)
   09. Grids...............A simple grid system & handy width classes
   10. Buttons.............Basic styles, sizes, and shapes
   11. Main................Your styles go here!
   12. Helpers.............Some useful, global classes
   13. Print...............Inlined, barebones print styles

   GRAYSCALE
   ---------------------------
   Black:         #222
   Darkest gray:  #444
   Darker gray:   #777
   Dark gray:     #aaa
   Gray:          #ccc
   Light gray:    #dedede
   Lighter gray:  #efefef
   Lightest gray: #f8f8f8
   White:         #fff

\* ================================================================== */
/* ================================================================== *\
   Base ($base)
\* ================================================================== */
/* Viewport resizing */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/**
 * Box model adjustments
 * `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5
 */
/* line 19, ../sass/_cardinal_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Correct `block` display not defined in IE 8/9 */
/* line 35, ../sass/_cardinal_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Address [hidden] styling not present in IE 8/9
 * Hide the <template> element in IE, Safari, and Firefox < 22
 */
/* line 45, ../sass/_cardinal_base.scss */
[hidden],
template {
  display: none;
}

/* Set <html> and <body> to inherit the height of the viewport */
/* line 51, ../sass/_cardinal_base.scss */
html,
body {
  min-height: 100%;
}

/**
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * 2. Remove text size adjustments without disabling user zoom
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * NOTE: IE for Windows Phone 8 ignores `-ms-text-size-adjust` if the
 *       viewport <meta> tag is used - http://cbrac.co/1cFrAvl
 */
/* line 64, ../sass/_cardinal_base.scss */
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
  /* 2 */
}

/**
 * 1. Customize `background` for text selections
 * 2. Remove `text-shadow` selection highlight - http://cbrac.co/Q6swON
 */
/* line 76, ../sass/_cardinal_base.scss */
::-moz-selection {
  background: #b3d4fc;
  /* 1 */
  text-shadow: none;
  /* 2 */
}

/* line 81, ../sass/_cardinal_base.scss */
::selection {
  background: #b3d4fc;
  /* 1 */
  text-shadow: none;
  /* 2 */
}

/* Change `background` for text selections when browser is unfocused */
/* line 87, ../sass/_cardinal_base.scss */
::selection:window-inactive {
  background: #dedede;
}

/* Remove `background` on images when selected */
/* line 92, ../sass/_cardinal_base.scss */
img::selection {
  background: transparent;
}

/* line 96, ../sass/_cardinal_base.scss */
img::-moz-selection {
  background: transparent;
}

/* ================================================================== *\
   Links ($links)
\* ================================================================== */
/* 1. Remove the gray background color from active links in IE 10 */
/* line 6, ../sass/_cardinal_links.scss */
a {
  background: transparent;
  /* 1 */
  color: #1fa3ec;
}

/* line 11, ../sass/_cardinal_links.scss */
a:hover {
  text-decoration: none;
}

/* Improve readability when focused or hovered in all browsers */
/* line 17, ../sass/_cardinal_links.scss */
a:active,
a:hover {
  outline: 0;
}

/* Address `outline` inconsistency between Chrome and other browsers */
/* line 22, ../sass/_cardinal_links.scss */
a:focus {
  outline: thin dotted;
}

/* ================================================================== *\
   Typography ($typography)

   Modular scale:    12px @ 1:1.333 (perfect fourth)
   Important number: 20px (maximum <html> `font-size`)
   http://modularscale.com/scale/?px1=12&px2=20&ra1=1.333&ra2=0
\* ================================================================== */
/* line 9, ../sass/_cardinal_typography.scss */
html {
  font-size: 75%;
}

/* 12px */
@media only screen and (min-width: 320px) {
  /* line 10, ../sass/_cardinal_typography.scss */
  html {
    font-size: 81.25%;
  }
}
/* 13px */
@media only screen and (min-width: 480px) {
  /* line 11, ../sass/_cardinal_typography.scss */
  html {
    font-size: 87.5%;
  }
}
/* 14px */
@media only screen and (min-width: 640px) {
  /* line 12, ../sass/_cardinal_typography.scss */
  html {
    font-size: 100%;
  }
}
/* 16px */
@media only screen and (min-width: 960px) {
  /* line 13, ../sass/_cardinal_typography.scss */
  html {
    font-size: 112.5%;
  }
}
/* 18px */
@media only screen and (min-width: 1440px) {
  /* line 14, ../sass/_cardinal_typography.scss */
  html {
    font-size: 125%;
  }
}
/* 20px */
/**
 * 1. Remove default `margin`
 * 2. Inherits percentage declared on above <html> as root `font-size`
 * 3. Unitless `line-height`, which acts as multiple of root `font-size`
 */
/* line 22, ../sass/_cardinal_typography.scss */
body {
  margin: 0;
  /* 1 */
  color: #444;
  font-size: 1rem;
  /* 2 */
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  /* 3 */
}

/* line 32, ../sass/_cardinal_typography.scss */
abbr,
acronym,
dfn[title] {
  cursor: help;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome */
/* line 37, ../sass/_cardinal_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../sass/_cardinal_typography.scss */
abbr a {
  text-decoration: none;
}

/* line 45, ../sass/_cardinal_typography.scss */
acronym {
  text-transform: uppercase;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome */
/* line 51, ../sass/_cardinal_typography.scss */
b,
strong {
  font-weight: 700;
}

/* line 55, ../sass/_cardinal_typography.scss */
blockquote {
  padding-left: 1rem;
  border-left: 5px solid #e5e5e5;
  font-style: italic;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/* line 63, ../sass/_cardinal_typography.scss */
blockquote p {
  margin: 0;
}

/* line 67, ../sass/_cardinal_typography.scss */
blockquote p + p {
  margin-top: 1rem;
}

/**
 * 1. Add an m-dash character before the <footer> tag
 * TIP: Use <footer> tag instead of <cite> inside blockquotes -
 *      http://cbrac.co/TCVK4P
 */
/* line 77, ../sass/_cardinal_typography.scss */
blockquote footer:before {
  content: "\2014 \2009";
  /* 1 */
}

/* line 81, ../sass/_cardinal_typography.scss */
blockquote footer {
  color: #777;
  font-style: italic;
  font-size: 0.8125rem;
}

/* line 97, ../sass/_cardinal_typography.scss */
blockquote,
dl,
figure,
hr,
menu,
ol,
p,
pre,
summary,
table,
ul {
  margin: 0 0 1rem;
}

/**
 * 1. Non-standard fallback for older WebKit
 */
/* line 110, ../sass/_cardinal_typography.scss */
caption,
p,
table,
textarea,
td,
th {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  /* 1 */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 117, ../sass/_cardinal_typography.scss */
dl dt {
  color: #222;
  font-weight: 700;
}

/* line 122, ../sass/_cardinal_typography.scss */
dl dd {
  margin: 0;
}

/* line 126, ../sass/_cardinal_typography.scss */
del {
  color: #777;
  text-decoration: line-through;
}

/* line 131, ../sass/_cardinal_typography.scss */
details {
  cursor: pointer;
}

/* Address styling not present in Safari 5 and Chrome */
/* line 136, ../sass/_cardinal_typography.scss */
dfn {
  font-style: italic;
}

/* line 142, ../sass/_cardinal_typography.scss */
em,
i,
cite {
  font-style: italic;
}

/* NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1 */
/* line 152, ../sass/_cardinal_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75rem;
  color: #222;
  font-weight: 700;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
}

/* line 161, ../sass/_cardinal_typography.scss */
h1 {
  font-size: 3.157rem;
}

/* line 162, ../sass/_cardinal_typography.scss */
h2 {
  font-size: 2.369rem;
}

/* line 163, ../sass/_cardinal_typography.scss */
h3 {
  font-size: 1.777rem;
}

/* line 164, ../sass/_cardinal_typography.scss */
h4 {
  font-size: 1.333rem;
}

/* line 165, ../sass/_cardinal_typography.scss */
h5 {
  font-size: 1rem;
}

/* line 166, ../sass/_cardinal_typography.scss */
h6 {
  font-size: 0.75rem;
}

/* Address differences between Firefox and other browsers */
/* line 169, ../sass/_cardinal_typography.scss */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-bottom: 1px solid #dedede;
}

/* Address styling not present in IE 8/9 */
/* line 178, ../sass/_cardinal_typography.scss */
ins,
mark {
  background: #ff9;
  color: #222;
  text-decoration: none;
}

/* line 185, ../sass/_cardinal_typography.scss */
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Nested `list-style` types for ordered lists */
/* line 192, ../sass/_cardinal_typography.scss */
ol {
  list-style: decimal;
}

/* line 193, ../sass/_cardinal_typography.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 194, ../sass/_cardinal_typography.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 195, ../sass/_cardinal_typography.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 200, ../sass/_cardinal_typography.scss */
ol ol,
ol ul,
ul ul,
ul ol {
  margin-bottom: 0;
}

/* Set consistent <q> types */
/* line 205, ../sass/_cardinal_typography.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* 1. Address inconsistent and variable `font-size` in all browsers */
/* line 210, ../sass/_cardinal_typography.scss */
small {
  display: inline-block;
  font-size: 87.5%;
  /* 1 */
  line-height: 1.333;
}

/* Prevent <sub> and <sup> affecting `line-height` in all browsers */
/* line 218, ../sass/_cardinal_typography.scss */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

/* line 225, ../sass/_cardinal_typography.scss */
sup {
  top: -0.5em;
}

/* line 229, ../sass/_cardinal_typography.scss */
sub {
  bottom: -0.25em;
}

/* ================================================================== *\
   Code ($code)
\* ================================================================== */
/* Correct `font-family` set oddly in Safari 5 and Chrome */
/* line 9, ../sass/_cardinal_code.scss */
code,
kbd,
pre,
samp {
  color: #444;
  font-family: Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;
}

/* line 16, ../sass/_cardinal_code.scss */
code,
kbd {
  font-size: 75%;
}

/* line 20, ../sass/_cardinal_code.scss */
code {
  padding: 0 0.3rem;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #f8f8f8;
  white-space: nowrap;
}

/* Increase `padding` at larger viewport widths */
@media only screen and (min-width: 480px) {
  /* line 30, ../sass/_cardinal_code.scss */
  code {
    padding: 0.1rem 0.3rem;
  }
}
/* line 35, ../sass/_cardinal_code.scss */
kbd {
  position: relative;
  top: -1px;
  margin-bottom: 1px;
  padding: 0 0.3rem;
  border: 1px solid #dedede;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #f8f8f8;
  -webkit-box-shadow: 0 1px 0 #dedede, inset 0 0 0 1px white;
  -moz-box-shadow: 0 1px 0 #dedede, inset 0 0 0 1px white;
  box-shadow: 0 1px 0 #dedede, inset 0 0 0 1px white;
  white-space: nowrap;
}

/* Increase `padding` at larger viewport widths */
@media only screen and (min-width: 480px) {
  /* line 49, ../sass/_cardinal_code.scss */
  kbd {
    padding: 0.1rem 0.3rem;
  }
}
/* line 54, ../sass/_cardinal_code.scss */
pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  background: #222;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  color: #ccc;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

/* Reset above <code> styles when nested inside <pre> tags */
/* line 71, ../sass/_cardinal_code.scss */
pre code {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  white-space: pre;
}

/* ================================================================== *\
   Embedded content ($embedded-content)
\* ================================================================== */
/**
 * Correct `inline-block` display not defined in IE 8/9
 */
/* line 11, ../sass/_cardinal_embeddedcontent.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* Fluid-width <audio> & <video> elements */
/* line 17, ../sass/_cardinal_embeddedcontent.scss */
audio,
video {
  width: 100%;
}

/**
 * 1. Prevent modern browsers from displaying <audio> without controls
 * 2. Remove excess `height` in iOS 5 devices
 */
/* line 26, ../sass/_cardinal_embeddedcontent.scss */
audio:not([controls]) {
  display: none;
  /* 1 */
  height: 0;
  /* 2 */
}

/* line 31, ../sass/_cardinal_embeddedcontent.scss */
figcaption {
  margin-top: 0.563rem;
  font-style: italic;
  font-size: 75%;
}

/**
 * 1. Remove the `border` when inside an <a> element in IE 8/9
 * 2. Remove the gap between <img> elements and the bottom of their
 *    containers - http://cbrac.co/Q6smqV
 */
/* line 43, ../sass/_cardinal_embeddedcontent.scss */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/* Fluid-width media that maintain their aspect ratios */
/* line 50, ../sass/_cardinal_embeddedcontent.scss */
img,
video {
  max-width: 100%;
  width: auto\9;
  height: auto !important;
}

/* Correct `overflow` displayed oddly in IE 9 */
/* line 57, ../sass/_cardinal_embeddedcontent.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ================================================================== *\
   Forms ($forms)
\* ================================================================== */
/**
 * 1. Address `margin` set differently in Firefox 4+, Safari 5, & Chrome
 * 2. Correct `font-size` not being inherited in all browsers
 * 3. Correct `font-family` not being inherited in all browsers
 */
/* line 14, ../sass/_cardinal_forms.scss */
button,
input,
select,
textarea {
  margin: 0;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  font-family: inherit;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on <input> using
 * `!important` in the UA stylesheet
 */
/* line 26, ../sass/_cardinal_forms.scss */
button,
input {
  line-height: normal;
}

/**
 * Fix inconsistent `text-transform` for <button> and <select>
 * All other form control elements do not inherit `text-transform`
 */
/* line 36, ../sass/_cardinal_forms.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native
 *    <audio> and <video> controls
 * 2. Improve usability and consistency of cursor style between
 *    image-type <input> and others
 * 3. Correct inability to style clickable <input> types in iOS
 */
/* line 51, ../sass/_cardinal_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 2 */
  -webkit-appearance: button;
  /* 3 */
}

/* Reset default `cursor` for disabled elements */
/* line 58, ../sass/_cardinal_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* Remove default <fieldset> styles for all browsers */
/* line 63, ../sass/_cardinal_forms.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * 1. 100% width inputs, select boxes, and textareas by default
 * 2. Give elements same styles as `.button` elements
 */
/* line 75, ../sass/_cardinal_forms.scss */
input,
select,
textarea {
  display: block;
  /* 1 */
  padding: 0.563rem;
  /* 2 */
  width: 100%;
  /* 1 */
  border: 1px solid #aaa;
  -webkit-border-radius: 0.356rem;
  -moz-border-radius: 0.356rem;
  -ms-border-radius: 0.356rem;
  -o-border-radius: 0.356rem;
  border-radius: 0.356rem;
  /* 2 */
  vertical-align: middle;
  line-height: 1.5;
  /* 2 */
}

/* Make checkbox, image, and radio inputs `inline-block` by default */
/* line 88, ../sass/_cardinal_forms.scss */
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

/**
 * 1. Address `box-sizing` set to `content-box` in IE 8/9
 * 2. Remove excess padding in IE 8/9
 */
/* line 100, ../sass/_cardinal_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  margin: 0 0.422rem 0.238rem 0;
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof)
 * 2. Address `appearance` set to `searchfield` in Safari 5 and Chrome
 */
/* line 112, ../sass/_cardinal_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  -webkit-appearance: textfield;
  /* 2 */
}

/* Remove decoration & cancel button in Safari 5 and Chrome on OS X */
/* line 119, ../sass/_cardinal_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Make button, reset, and submit inputs to be `inline-block`, unless
 * otherwise specified by `.button` classes
 */
/* line 130, ../sass/_cardinal_forms.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  width: auto;
}

/* Remove inner padding and border in Firefox 4+ */
/* line 137, ../sass/_cardinal_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Give labels a pointer cursor by default */
/* line 143, ../sass/_cardinal_forms.scss */
label {
  cursor: pointer;
}

/* Give <legend> some basic styles for all browsers */
/* line 148, ../sass/_cardinal_forms.scss */
legend {
  margin: 0 0 1rem;
  padding: 0;
  border: 0;
  color: #222;
  font-weight: 700;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9
 * 2. Improve readability and alignment in all browsers
 * 3. Restrict <textarea> elements to vertical resizing only
 */
/* line 162, ../sass/_cardinal_forms.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/* ================================================================== *\
   Tables ($tables)
\* ================================================================== */
/**
 * Default (borderless)
 * 1. Remove most spacing between <table> cells
 */
/* line 10, ../sass/_cardinal_tables.scss */
table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  /* 1 */
  border-collapse: collapse;
  /* 1 */
  empty-cells: show;
}
/* line 17, ../sass/_cardinal_tables.scss */
table th, table tfoot td {
  color: #222;
  text-align: left;
  font-weight: 700;
}
/* line 23, ../sass/_cardinal_tables.scss */
table thead th, table tfoot td {
  background-color: #efefef;
}
/* line 27, ../sass/_cardinal_tables.scss */
table th, table td {
  overflow: visible;
  padding: 0.633rem;
  vertical-align: top;
}

/* line 34, ../sass/_cardinal_tables.scss */
caption {
  font-weight: 700;
  font-style: italic;
  padding-bottom: 0.317rem;
}

/* Outer border only */
/* line 41, ../sass/_cardinal_tables.scss */
.table_border {
  border: 1px solid #dedede;
}

/* Borders for rows & columns */
/* line 47, ../sass/_cardinal_tables.scss */
.table_border_cells th, .table_border_cells td {
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
}

/* Border for rows only */
/* line 55, ../sass/_cardinal_tables.scss */
.table_border_rows th, .table_border_rows td {
  border-top: 1px solid #dedede;
}

/* Remove top border to avoid double border on `.border` tables */
/* line 65, ../sass/_cardinal_tables.scss */
.table_border.table_border_cells thead:first-child tr:first-child th, .table_border.table_border_cells thead:first-child tr:first-child td, .table_border.table_border_rows thead:first-child tr:first-child th, .table_border.table_border_rows thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 72, ../sass/_cardinal_tables.scss */
.table_border_cells tr th:first-child, .table_border_cells tr td:first-child {
  border-left: 0;
}
/* line 77, ../sass/_cardinal_tables.scss */
.table_border_cells tr:first-child th, .table_border_cells thead:first-child tr:first-child th {
  border-top: 0;
}

/* Add bottom border to last row in the table */
/* line 84, ../sass/_cardinal_tables.scss */
.table_border_rows tr:last-child td {
  border-bottom: 1px solid #dedede;
}

/* Stripes */
/* line 89, ../sass/_cardinal_tables.scss */
.table_stripes tbody > tr:nth-child(odd) > td {
  background-color: #f8f8f8;
}

/* ================================================================== *\
   Layout ($layout)
\* ================================================================== */
/* 100% width container */
/* line 6, ../sass/_cardinal_layout.scss */
.strip {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #efefef;
  list-style: none;
}

/* line 14, ../sass/_cardinal_layout.scss */
.strip .wrapper {
  padding: 1rem 0;
}

/* Page wrapper */
/* line 19, ../sass/_cardinal_layout.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
}

/* Island and wells */
/* line 27, ../sass/_cardinal_layout.scss */
.island,
.well {
  margin: 0 0 1rem;
}

/* line 31, ../sass/_cardinal_layout.scss */
.island {
  padding: 1rem;
  background: #efefef;
}

/* line 36, ../sass/_cardinal_layout.scss */
.well {
  padding: 1rem;
  background: #efefef;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
}

/* line 43, ../sass/_cardinal_layout.scss */
.island .island,
.well .well {
  background: #dedede;
}

/* line 48, ../sass/_cardinal_layout.scss */
.island.island_hollow,
.well.well_hollow {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 3px #f0f0f0;
  -moz-box-shadow: inset 0 0 0 3px #f0f0f0;
  box-shadow: inset 0 0 0 3px #f0f0f0;
}

/* line 54, ../sass/_cardinal_layout.scss */
.island.island_rounded,
.well.well_rounded {
  -webkit-box-shadow: 0.356rem;
  -moz-box-shadow: 0.356rem;
  box-shadow: 0.356rem;
}

/* ================================================================== *\
   Grids ($grids)
\* ================================================================== */
/**
 * Grid container
 * 1. Default gutter width, change if desired
 * 2. Remove `list-style` in case `.grid` is on a <ul> element
 * 3. Hack to remove `inline-block` whitespace - http://cbrac.co/16xcjcl
 */
/* line 12, ../sass/_cardinal_grids.scss */
.grid {
  margin: 0;
  margin-left: -2rem;
  /* 1 */
  padding: 0;
  list-style: none;
  /* 2 */
  font-size: 0;
  /* 3 */
}

/* Gutters */
/* line 21, ../sass/_cardinal_grids.scss */
.grid_gutter_none {
  margin-left: 0;
}

/* line 22, ../sass/_cardinal_grids.scss */
.grid_gutter_none .grid-item {
  padding-left: 0;
}

/* line 23, ../sass/_cardinal_grids.scss */
.grid_gutter_half {
  margin-left: -1rem;
}

/* line 24, ../sass/_cardinal_grids.scss */
.grid_gutter_half .grid-item {
  padding-left: 1rem;
}

/* line 25, ../sass/_cardinal_grids.scss */
.grid_gutter_double {
  margin-left: -4rem;
}

/* line 26, ../sass/_cardinal_grids.scss */
.grid_gutter_double .grid-item {
  padding-left: 4rem;
}

/**
 * Grid item
 * 1. Default gutter width, change if desired
 * 2. Ensures elements within `.grid-item` start at the top
 * 3. Reset `font-size` back to normal
 */
/* line 35, ../sass/_cardinal_grids.scss */
.grid-item {
  display: inline-block;
  padding-left: 2rem;
  /* 1 */
  vertical-align: top;
  /* 2 */
  font-size: 1rem;
  /* 3 */
}

/* Widths */
/* line 44, ../sass/_cardinal_grids.scss */
.grid-item,
.one_whole {
  width: 100%;
}

/* line 45, ../sass/_cardinal_grids.scss */
.one_half {
  width: 50%;
}

/* line 46, ../sass/_cardinal_grids.scss */
.one_third {
  width: 33.33333%;
}

/* line 47, ../sass/_cardinal_grids.scss */
.two_thirds {
  width: 66.66667%;
}

/* line 48, ../sass/_cardinal_grids.scss */
.one_fourth {
  width: 25%;
}

/* line 49, ../sass/_cardinal_grids.scss */
.two_fourths {
  width: 50%;
}

/* line 50, ../sass/_cardinal_grids.scss */
.three_fourths {
  width: 75%;
}

/* line 51, ../sass/_cardinal_grids.scss */
.one_fifth {
  width: 20%;
}

/* line 52, ../sass/_cardinal_grids.scss */
.two_fifths {
  width: 40%;
}

/* line 53, ../sass/_cardinal_grids.scss */
.three_fifths {
  width: 60%;
}

/* line 54, ../sass/_cardinal_grids.scss */
.four_fifths {
  width: 80%;
}

/* line 55, ../sass/_cardinal_grids.scss */
.one_sixth {
  width: 16.66667%;
}

/* line 56, ../sass/_cardinal_grids.scss */
.two_sixths {
  width: 33.33333%;
}

/* line 57, ../sass/_cardinal_grids.scss */
.three_sixths {
  width: 50%;
}

/* line 58, ../sass/_cardinal_grids.scss */
.four_sixths {
  width: 66.66667%;
}

/* line 59, ../sass/_cardinal_grids.scss */
.five_sixths {
  width: 83.33333%;
}

/* line 60, ../sass/_cardinal_grids.scss */
.width_auto {
  width: auto;
}

/* Grid breakpoint for devices that sit in your lap (eg. tablets) */
@media only screen and (min-width: 640px) {
  /* Gutter options */
  /* line 65, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_none {
    margin-left: 0;
  }

  /* line 66, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_none .grid-item {
    padding-left: 0;
  }

  /* line 67, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_half {
    margin-left: -1rem;
  }

  /* line 68, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_half .grid-item {
    padding-left: 1rem;
  }

  /* line 69, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_whole {
    margin-left: -2rem;
  }

  /* line 70, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_whole .grid-item {
    padding-left: 2rem;
  }

  /* line 71, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_double {
    margin-left: -4rem;
  }

  /* line 72, ../sass/_cardinal_grids.scss */
  .lap-grid_gutter_double .grid-item {
    padding-left: 4rem;
  }

  /* Widths */
  /* line 75, ../sass/_cardinal_grids.scss */
  .lap-one_whole {
    width: 100%;
  }

  /* line 76, ../sass/_cardinal_grids.scss */
  .lap-one_half {
    width: 50%;
  }

  /* line 77, ../sass/_cardinal_grids.scss */
  .lap-one_third {
    width: 33.33333%;
  }

  /* line 78, ../sass/_cardinal_grids.scss */
  .lap-two_thirds {
    width: 66.66667%;
  }

  /* line 79, ../sass/_cardinal_grids.scss */
  .lap-one_fourth {
    width: 25%;
  }

  /* line 80, ../sass/_cardinal_grids.scss */
  .lap-three_fourths {
    width: 75%;
  }

  /* line 81, ../sass/_cardinal_grids.scss */
  .lap-one_fifth {
    width: 20%;
  }

  /* line 82, ../sass/_cardinal_grids.scss */
  .lap-two_fifths {
    width: 40%;
  }

  /* line 83, ../sass/_cardinal_grids.scss */
  .lap-three_fifths {
    width: 60%;
  }

  /* line 84, ../sass/_cardinal_grids.scss */
  .lap-four_fifths {
    width: 80%;
  }

  /* line 85, ../sass/_cardinal_grids.scss */
  .lap-one_sixth {
    width: 16.66667%;
  }

  /* line 86, ../sass/_cardinal_grids.scss */
  .lap-two_sixths {
    width: 33.33333%;
  }

  /* line 87, ../sass/_cardinal_grids.scss */
  .lap-three_sixths {
    width: 50%;
  }

  /* line 88, ../sass/_cardinal_grids.scss */
  .lap-four_sixths {
    width: 66.66667%;
  }

  /* line 89, ../sass/_cardinal_grids.scss */
  .lap-five_sixths {
    width: 83.33333%;
  }

  /* line 90, ../sass/_cardinal_grids.scss */
  .lap-width_auto {
    width: auto;
  }
}
/* Grid breakpoint for devices that remain on your desk (eg. iMac) */
@media only screen and (min-width: 960px) {
  /* Gutter options */
  /* line 96, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_none {
    margin-left: 0;
  }

  /* line 97, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_none .grid-item {
    padding-left: 0;
  }

  /* line 98, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_half {
    margin-left: -1rem;
  }

  /* line 99, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_half .grid-item {
    padding-left: 1rem;
  }

  /* line 100, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_whole {
    margin-left: -2rem;
  }

  /* line 101, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_whole .grid-item {
    padding-left: 2rem;
  }

  /* line 102, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_double {
    margin-left: -4rem;
  }

  /* line 103, ../sass/_cardinal_grids.scss */
  .desk-grid_gutter_double .grid-item {
    padding-left: 4rem;
  }

  /* Widths */
  /* line 106, ../sass/_cardinal_grids.scss */
  .desk-one_whole {
    width: 100%;
  }

  /* line 107, ../sass/_cardinal_grids.scss */
  .desk-one_half {
    width: 50%;
  }

  /* line 108, ../sass/_cardinal_grids.scss */
  .desk-one_third {
    width: 33.33333%;
  }

  /* line 109, ../sass/_cardinal_grids.scss */
  .desk-two_thirds {
    width: 66.66667%;
  }

  /* line 110, ../sass/_cardinal_grids.scss */
  .desk-one_fourth {
    width: 25%;
  }

  /* line 111, ../sass/_cardinal_grids.scss */
  .desk-three_fourths {
    width: 75%;
  }

  /* line 112, ../sass/_cardinal_grids.scss */
  .desk-one_fifth {
    width: 20%;
  }

  /* line 113, ../sass/_cardinal_grids.scss */
  .desk-two_fifths {
    width: 40%;
  }

  /* line 114, ../sass/_cardinal_grids.scss */
  .desk-three_fifths {
    width: 60%;
  }

  /* line 115, ../sass/_cardinal_grids.scss */
  .desk-four_fifths {
    width: 80%;
  }

  /* line 116, ../sass/_cardinal_grids.scss */
  .desk-one_sixth {
    width: 16.66667%;
  }

  /* line 117, ../sass/_cardinal_grids.scss */
  .desk-two_sixths {
    width: 33.33333%;
  }

  /* line 118, ../sass/_cardinal_grids.scss */
  .desk-three_sixths {
    width: 50%;
  }

  /* line 119, ../sass/_cardinal_grids.scss */
  .desk-four_sixths {
    width: 66.66667%;
  }

  /* line 120, ../sass/_cardinal_grids.scss */
  .desk-five_sixths {
    width: 83.33333%;
  }

  /* line 121, ../sass/_cardinal_grids.scss */
  .desk-width_auto {
    width: auto;
  }
}
/* ================================================================== *\
   Buttons ($buttons)
\* ================================================================== */
/* Default (flat) */
/* line 6, ../sass/_cardinal_buttons.scss */
.button {
  display: inline-block;
  margin: 0;
  padding: 0.563rem 0.844rem;
  border: 0 none;
  background: #dedede;
  color: #444;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}
/* line 19, ../sass/_cardinal_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}
/* line 23, ../sass/_cardinal_buttons.scss */
.button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Styles */
/* line 31, ../sass/_cardinal_buttons.scss */
.button.button_hollow {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 3px #ebebeb;
  -moz-box-shadow: inset 0 0 0 3px #ebebeb;
  box-shadow: inset 0 0 0 3px #ebebeb;
}
/* line 35, ../sass/_cardinal_buttons.scss */
.button.button_hollow:active {
  background: #efefef;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* line 41, ../sass/_cardinal_buttons.scss */
.button.button_chunky {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.12);
}
/* line 44, ../sass/_cardinal_buttons.scss */
.button.button_chunky:active {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Sizes */
/* line 50, ../sass/_cardinal_buttons.scss */
.button.button_mini {
  padding: 0.238rem 0.563rem;
  font-size: 0.8125rem;
}

@media only screen and (min-width: 640px) {
  /* line 56, ../sass/_cardinal_buttons.scss */
  .button.button_mini {
    font-size: 0.75rem;
  }
}
/* line 61, ../sass/_cardinal_buttons.scss */
.button.button_small {
  padding: 0.317rem 0.75rem;
  font-size: 0.875rem;
}

/* line 67, ../sass/_cardinal_buttons.scss */
.button.button_large,
.button.button_block {
  padding: 1rem 1.333rem;
  font-size: 1.125rem;
  line-height: 1.333;
}

/* line 73, ../sass/_cardinal_buttons.scss */
.button.button_block {
  display: block;
}

/* Shapes */
/* line 78, ../sass/_cardinal_buttons.scss */
.button.button_rounded {
  -webkit-border-radius: 0.356rem;
  -moz-border-radius: 0.356rem;
  -ms-border-radius: 0.356rem;
  -o-border-radius: 0.356rem;
  border-radius: 0.356rem;
}

/* line 82, ../sass/_cardinal_buttons.scss */
.button.button_pill {
  -webkit-border-radius: 9999rem;
  -moz-border-radius: 9999rem;
  -ms-border-radius: 9999rem;
  -o-border-radius: 9999rem;
  border-radius: 9999rem;
}

/* States */
/* line 89, ../sass/_cardinal_buttons.scss */
.button.button_disabled,
.button.button_disabled:active,
.button[disabled] {
  background: #ddd !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: #777 !important;
  text-shadow: none !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  opacity: 0.65;
  cursor: not-allowed !important;
}

/* line 101, ../sass/_cardinal_buttons.scss */
.button.button_hollow.button_disabled,
.button.button_hollow.button_disabled:active,
.button.button_hollow[disabled] {
  background: transparent !important;
  -webkit-box-shadow: inset 0 0 0 3px #dddddd !important;
  -moz-box-shadow: inset 0 0 0 3px #dddddd !important;
  box-shadow: inset 0 0 0 3px #dddddd !important;
}

/* ================================================================== *\
   Main ($main)
\* ================================================================== */
/**
 * YOUR MAGICAL CSS GOES HERE!
 */
/* ================================================================== *\
   Helpers ($helpers)
\* ================================================================== */
/* Font sizing */
/* line 7, ../sass/_cardinal_helpers.scss */
.font_huge,
.font_xxl {
  line-height: 1.333 !important;
}

/* line 9, ../sass/_cardinal_helpers.scss */
.font_huge {
  font-size: 4.209rem !important;
}

/* line 10, ../sass/_cardinal_helpers.scss */
.font_xxl {
  font-size: 3.157rem !important;
}

/* line 11, ../sass/_cardinal_helpers.scss */
.font_xl {
  font-size: 2.369rem !important;
}

/* line 12, ../sass/_cardinal_helpers.scss */
.font_large {
  font-size: 1.777rem !important;
}

/* line 13, ../sass/_cardinal_helpers.scss */
.font_medium {
  font-size: 1.333rem !important;
}

/* line 14, ../sass/_cardinal_helpers.scss */
.font_regular {
  font-size: 1rem !important;
}

/* line 15, ../sass/_cardinal_helpers.scss */
.font_small {
  font-size: 0.75rem !important;
}

/* Font styles */
/* line 18, ../sass/_cardinal_helpers.scss */
.font_ultralight {
  font-weight: 100;
}

/* line 19, ../sass/_cardinal_helpers.scss */
.font_light {
  font-weight: 300;
}

/* line 20, ../sass/_cardinal_helpers.scss */
.font_normal {
  font-weight: 400;
}

/* line 21, ../sass/_cardinal_helpers.scss */
.font_semibold {
  font-weight: 600;
}

/* line 22, ../sass/_cardinal_helpers.scss */
.font_bold {
  font-weight: 700;
}

/* line 23, ../sass/_cardinal_helpers.scss */
.font_black {
  font-weight: 900;
}

/* line 24, ../sass/_cardinal_helpers.scss */
.font_muted {
  color: #777;
}

/* Text alignment */
/* line 27, ../sass/_cardinal_helpers.scss */
.text_left {
  text-align: left !important;
}

/* line 28, ../sass/_cardinal_helpers.scss */
.text_center {
  text-align: center !important;
}

/* line 29, ../sass/_cardinal_helpers.scss */
.text_right {
  text-align: right !important;
}

/* line 30, ../sass/_cardinal_helpers.scss */
.text_justify {
  text-align: justify !important;
}

@media only screen and (min-width: 640px) {
  /* Font sizing */
  /* line 34, ../sass/_cardinal_helpers.scss */
  .lap-font_huge {
    font-size: 4.209rem !important;
  }

  /* line 35, ../sass/_cardinal_helpers.scss */
  .lap-font_xxl {
    font-size: 3.157rem !important;
  }

  /* line 36, ../sass/_cardinal_helpers.scss */
  .lap-font_xl {
    font-size: 2.369rem !important;
  }

  /* line 37, ../sass/_cardinal_helpers.scss */
  .lap-font_large {
    font-size: 1.777rem !important;
  }

  /* line 38, ../sass/_cardinal_helpers.scss */
  .lap-font_medium {
    font-size: 1.333rem !important;
  }

  /* line 39, ../sass/_cardinal_helpers.scss */
  .lap-font_regular {
    font-size: 1rem !important;
  }

  /* line 40, ../sass/_cardinal_helpers.scss */
  .lap-font_small {
    font-size: 0.75rem !important;
  }

  /* Font styles */
  /* line 43, ../sass/_cardinal_helpers.scss */
  .lap-font_ultralight {
    font-weight: 100;
  }

  /* line 44, ../sass/_cardinal_helpers.scss */
  .lap-font_light {
    font-weight: 300;
  }

  /* line 45, ../sass/_cardinal_helpers.scss */
  .lap-font_normal {
    font-weight: 400;
  }

  /* line 46, ../sass/_cardinal_helpers.scss */
  .lap-font_semibold {
    font-weight: 600;
  }

  /* line 47, ../sass/_cardinal_helpers.scss */
  .lap-font_bold {
    font-weight: 700;
  }

  /* line 48, ../sass/_cardinal_helpers.scss */
  .lap-font_black {
    font-weight: 900;
  }

  /* line 49, ../sass/_cardinal_helpers.scss */
  .lap-font_muted {
    color: #777;
  }

  /* Text alignment */
  /* line 52, ../sass/_cardinal_helpers.scss */
  .lap-text_left {
    text-align: left !important;
  }

  /* line 53, ../sass/_cardinal_helpers.scss */
  .lap-text_center {
    text-align: center !important;
  }

  /* line 54, ../sass/_cardinal_helpers.scss */
  .lap-text_right {
    text-align: right !important;
  }

  /* line 55, ../sass/_cardinal_helpers.scss */
  .lap-text_justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 960px) {
  /* Font sizing */
  /* line 60, ../sass/_cardinal_helpers.scss */
  .desk-font_huge {
    font-size: 4.209rem !important;
  }

  /* line 61, ../sass/_cardinal_helpers.scss */
  .desk-font_xxl {
    font-size: 3.157rem !important;
  }

  /* line 62, ../sass/_cardinal_helpers.scss */
  .desk-font_xl {
    font-size: 2.369rem !important;
  }

  /* line 63, ../sass/_cardinal_helpers.scss */
  .desk-font_large {
    font-size: 1.777rem !important;
  }

  /* line 64, ../sass/_cardinal_helpers.scss */
  .desk-font_medium {
    font-size: 1.333rem !important;
  }

  /* line 65, ../sass/_cardinal_helpers.scss */
  .desk-font_regular {
    font-size: 1rem !important;
  }

  /* line 66, ../sass/_cardinal_helpers.scss */
  .desk-font_small {
    font-size: 0.75rem !important;
  }

  /* Font styles */
  /* line 69, ../sass/_cardinal_helpers.scss */
  .desk-font_ultralight {
    font-weight: 100;
  }

  /* line 70, ../sass/_cardinal_helpers.scss */
  .desk-font_light {
    font-weight: 300;
  }

  /* line 71, ../sass/_cardinal_helpers.scss */
  .desk-font_normal {
    font-weight: 400;
  }

  /* line 72, ../sass/_cardinal_helpers.scss */
  .desk-font_semibold {
    font-weight: 600;
  }

  /* line 73, ../sass/_cardinal_helpers.scss */
  .desk-font_bold {
    font-weight: 700;
  }

  /* line 74, ../sass/_cardinal_helpers.scss */
  .desk-font_black {
    font-weight: 900;
  }

  /* line 75, ../sass/_cardinal_helpers.scss */
  .desk-font_muted {
    color: #777;
  }

  /* Text alignment */
  /* line 78, ../sass/_cardinal_helpers.scss */
  .desk-text_left {
    text-align: left !important;
  }

  /* line 79, ../sass/_cardinal_helpers.scss */
  .desk-text_center {
    text-align: center !important;
  }

  /* line 80, ../sass/_cardinal_helpers.scss */
  .desk-text_right {
    text-align: right !important;
  }

  /* line 81, ../sass/_cardinal_helpers.scss */
  .desk-text_justify {
    text-align: justify !important;
  }
}
/* Image replacement */
/* line 85, ../sass/_cardinal_helpers.scss */
.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

/* line 91, ../sass/_cardinal_helpers.scss */
.ir:before {
  display: block;
  width: 0;
  height: 100%;
  content: "";
}

/* Hide from both screenreaders and browsers - http://cbrac.co/ZaoIxf */
/* line 99, ../sass/_cardinal_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders -
 * http://cbrac.co/TUcUgH
 */
/* line 109, ../sass/_cardinal_helpers.scss */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

/**
 * Extends the `.visuallyhidden` class to allow the element to be
 * focusable when navigated to via the keyboard - http://cbrac.co/RR8gO6
 */
/* line 126, ../sass/_cardinal_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 136, ../sass/_cardinal_helpers.scss */
.invisible {
  visibility: hidden;
}

/* Clear floats with an extra markup element - http://cbrac.co/SFv1Ua */
/* line 141, ../sass/_cardinal_helpers.scss */
.clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}

/* Clearfix to contain floats */
/* line 152, ../sass/_cardinal_helpers.scss */
.cf:before,
.cf:after {
  display: table;
  /* 1 */
  content: " ";
  /* 2 */
}

/* line 157, ../sass/_cardinal_helpers.scss */
.cf:after {
  clear: both;
}

/* ================================================================== *\
   Print ($print)
   Inlined to avoid an extra HTTP request - http://cbrac.co/VUjfe3
\* ================================================================== */
@media print {
  /* 1. Black prints faster - http://cbrac.co/XvusCs */
  /* line 8, ../sass/_cardinal_print.scss */
  * {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #000 !important;
    /* 1 */
    text-shadow: none !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 20, ../sass/_cardinal_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 24, ../sass/_cardinal_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* Don’t show links for images, or javascript/internal links */
  /* line 31, ../sass/_cardinal_print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after,
  .ir a:after {
    content: "";
  }

  /* line 35, ../sass/_cardinal_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 40, ../sass/_cardinal_print.scss */
  blockquote,
  pre {
    border: 1px solid #777;
    page-break-inside: avoid;
  }

  /* line 47, ../sass/_cardinal_print.scss */
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  /* line 53, ../sass/_cardinal_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 58, ../sass/_cardinal_print.scss */
  img,
  tr {
    page-break-inside: avoid;
  }

  /* line 62, ../sass/_cardinal_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 66, ../sass/_cardinal_print.scss */
  thead {
    display: table-header-group;
    /* http://cbrac.co/Q6s1o2 */
  }
}
